#map {
  height: calc(10em + 30vmin);
  /* height: 50vh; */
  width: 100%;
  border-bottom-left-radius: 700em 100em;
  border-bottom-right-radius: 700em 100em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.contact-icons {
  height: calc(0.5em + 3vmin);
  width: calc(0.5em + 3vmin);
}