  /* Header Content */
  .header-banner {
    height: 66%;
  }

  .header-banner img {
    background-size: cover;
  }

  .header-banner-logo {
    height: calc(5% + 40vmin);
    width: calc(5% + 40vmin);
    opacity: 0.5;
  }

  /* Overview Content */
  .overview-banner {
    height: calc(45em + 10vmin);
  }

  .overview-col {
    margin: 0px !important;
    padding: 0px !important;
  }

  .overview-card {
    height: 100%;
    margin: 0px;
    border-bottom-right-radius: 2800px 5000px;
  }

  .box {
    margin: 0px;
    height: 100%;
    overflow: hidden;
    padding: 0px 0px 0px 60px
  }

  .box ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0
  }

  .box ul:last-of-type {
    top: 0px
  }

  .box ul:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border: 3px dashed #ffd18b;
    position: absolute;
    top: 0;
    left: 30px
  }

  .box ul li {
    margin: 20px 60px 60px;
    position: relative;
    padding: 10px 20px;
    background: #fafafa;
    color: #000;
    border-radius: 10px;
    line-height: 20px;
    width: 60%
  }


  .box ul li>span {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border: 3px solid #ff9800;
    position: absolute;
    top: 0;
    left: -30px
  }

  .box ul li>span:before,
  .box ul li>span:after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fafafa;
    border: 2px solid #ff9800;
    position: absolute;
    left: -14.5px
  }

  .box ul li>span:before {
    top: -10px
  }

  .box ul li>span:after {
    top: 95%
  }

  .box .title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 40px;
    padding: 5px;
  }

  .box .info p {
    padding: 5px;
  }

  .box .time span {
    position: absolute;
    left: 20px;
    color: #ff9800;
    margin-top: 30px;
    font-size: 80%;
    font-weight: bold;
  }

  .box .time span:first-child {
    top: -16px
  }

  .mbl-box {
    margin: 0px;
    overflow: hidden;
  }

  .mbl-box ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0
  }

  .mbl-box ul:last-of-type {
    top: 0px
  }

  .mbl-box ul:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border: 2px dashed #ffd18b;
    position: absolute;
    top: 0;
    left: 20px
  }

  .mbl-box ul li {
    margin: 10px 50px 50px;
    position: relative;
    padding: 10px 20px;
    background: #fafafa;
    color: #000;
    border-radius: 10px;
    line-height: 20px;
    width: 100%
  }


  .mbl-box ul li>span {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border: 2px solid #ff9800;
    position: absolute;
    top: 0;
    left: -30px
  }

  .mbl-box ul li>span:before,
  .mbl-box ul li>span:after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fafafa;
    border: 2px solid #ff9800;
    position: absolute;
    left: -14.5px
  }

  .mbl-box ul li>span:before {
    top: -10px
  }

  .mbl-box ul li>span:after {
    top: 95%
  }

  .mbl-box .title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 40px;
    padding: 5px;
  }

  .mbl-box .info p {
    padding: 5px;
    font-size: 12px;
  }

  .mbl-box .time span {
    position: absolute;
    left: 20px;
    color: #ff9800;
    margin-top: 30px;
    font-size: 80%;
    font-weight: bold;
  }

  .mbl-box .time span:first-child {
    top: -16px
  }

  /* Role Content */
  .role-header-svg {
    position: relative;
    height: 300px;
    border-width: 0px;
    background-image: linear-gradient(#314755, #26a0da);
  }

  .role-draw-art {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
  }

  @media only screen and (max-width: 699px) {
    .role-draw-art-lg {
      display: none;
      border-width: 0px;
    }
  }

  @media only screen and (min-width: 700px) {
    .role-draw-art-sm {
      display: none;
      border-width: 0px;
    }
  }

  .role-card {
    margin: 3%;
    margin-top: -100px;
  }

  .role-icon {
    height: 100px;
    width: 100px;
  }

  @media only screen and (max-width: 992px) {
    .role-card {
      margin-top: 0px;
    }
  }

  .divider-art-icon {
    margin: auto;
    margin-top: calc(5% + 1vmin);
    margin-bottom: calc(3% + 1vmin);
    width: 100%;
    position: relative;
  }

  .divider-art {
    width: 80%;
    margin-top: -1px !important;
  }

  .divider-art-icon .shadow {
    overflow: hidden;
    height: 20px;
  }

  .divider-art-icon .shadow:after {
    content: "";
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px/12px;
    box-shadow: 0 0 8px black;
  }

  .divider-art-icon .icon {
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 100%;
    margin-bottom: -35px;
    left: 50%;
    margin-left: -25px;
    border-radius: 100%;
    box-shadow: 0 2px 4px #999;
    background: white;
  }

  .divider-art-icon img {
    position: absolute;
    margin: 4px;
    max-width: 60px;
    border-radius: 100%;
    border: 1px dashed #aaa;
  }