{% extends 'main/header.html' %}

{% block content %}
{% include 'main/nav_bar.html' %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/main/projects.css')}}">

<!-- Banner Grettings -->
<div id="banner-greetings" class="pos-relative">
    <div class="pos-absolute-center white-text">
        <p class="font-weight-bold r-fs-30">Lorem Ipsum</p>
        <p class="r-fs-20">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
            velit..."</p>
    </div>
</div>

<div class="container">
    <h3>Lorem ipsum dolor sit amet:</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempor lectus et libero tristique pulvinar. Nulla non
        gravida metus, ut dictum augue. Proin vitae massa nec mauris congue tincidunt. Curabitur ultricies consectetur
        nisi sit amet elementum. Suspendisse sed nibh tellus. Fusce sagittis turpis et sapien ultrices, sed dictum risus
        vehicula. Aenean rhoncus ac felis eget aliquet. Maecenas sed tellus odio. In ut purus cursus, ullamcorper nunc
        in, sagittis metus. Vestibulum tellus arcu, pharetra sit amet scelerisque a, dapibus ac turpis. Donec blandit
        efficitur dui nec venenatis. Proin ornare felis ut volutpat sollicitudin. Mauris vel vulputate nunc. Integer
        mollis nunc nec magna auctor ullamcorper. Nullam eget risus felis. </p>

    <p>Sed consectetur, nisl at luctus mollis, orci tellus gravida felis, eget volutpat risus eros eget risus. Sed
        est nisi, sollicitudin sit amet luctus ut, venenatis a nisl. Duis ut leo ac ante volutpat mollis at et
        lectus. Vestibulum posuere metus vel tincidunt finibus. Donec cursus nunc lacus, at iaculis mauris volutpat
        ut. Fusce egestas ornare elit, in tincidunt justo posuere cursus. Proin eu neque diam. Sed ut tortor sem.
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum ante ipsum primis in faucibus orci
        luctus et ultrices posuere cubilia Curae; Aliquam erat volutpat. Fusce id enim vel ex hendrerit suscipit
        vitae eu risus. Pellentesque tempus magna et consequat rhoncus. Nunc auctor nec diam sit amet blandit.</p>
    <div class="row">
        {% for about_us in about_us %}
        <div class="col s12 m4 l4">
            <div class="card project-card">
                <div class="background pos-relative"
                    style="background-color: {{about_us.background_color}}; background-image:
                    url({{about_us.background_image}}); background-repeat: no-repeat; background-size: 100% 100%; height: 8em;">
                    <div class="pos-relative" style="height: 100%; width: 100%;">
                        {% if about_us.logo != "none" %}
                        <img class="pos-absolute-center" style="width: 200px;" src="{{about_us.logo}}" alt="logo" />
                        {% else %}
                        <p>meron</p>
                        {% endif %}
                    </div>
                </div>
                <div class="card-content">
                    <h5>{{about_us.header}}</h5>
                    <p class="font-weight-bold">{{about_us.sub_header}}</p>
                    <p>{{about_us.content}}</p>
                </div>
                <div class="card-action text-center">
                    <a href="{{about_us.url}}" target="_blank" class="btn teal-text transparent border-teal">Show
                        More</a>
                </div>
            </div>
        </div>
        {% endfor%}
    </div>
    <h5>Lorem ipsum dolor sit amet:</h5>
    <p>Integer nulla eros, ullamcorper quis velit in, varius scelerisque neque. Proin ac metus dolor. Mauris sed mattis
        risus. Nam sem nisl, suscipit eget justo ut, egestas rhoncus dolor. Donec efficitur metus in elit placerat
        semper. Suspendisse fringilla a massa hendrerit vulputate. Nunc ac feugiat justo. Aenean euismod, ipsum id
        vulputate ultrices, mauris sem fermentum elit, in fermentum ligula quam quis lacus. Orci varius natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam molestie eu purus ac lacinia. Donec
        non blandit metus. Vivamus ac nibh rhoncus, pharetra risus eu, convallis lorem. Etiam sodales quam placerat,
        vehicula arcu eget, congue nulla. Etiam iaculis magna ut velit varius, a viverra libero auctor.</p>
</div>

{% include 'main/footer.html' %}
{% endblock %}

{% block footer %}
<script>
    var today = new Date()
    var hourNow = today.getHours()

    if (hourNow > 18) {
        console.log('%c Good Evening!', 'color: #070707')
        document.getElementById('banner-greetings').setAttribute(
            'style',
            'height: calc(10em + 30vmin); background: #314755; background: -webkit-linear-gradient(to right, #314755, #26a0da); background: linear-gradient(to right, #314755, #26a0da); border-bottom-left-radius: 700em 100em; border-bottom-right-radius: 700em 100em;'
        )
    } else if (hourNow > 12) {
        console.log('%c Good Afternoon!', 'color: #ff9800')
        document.getElementById('banner-greetings').setAttribute(
            'style',
            'height: calc(10em + 30vmin); background: #26D0CE; background: -webkit-linear-gradient(to right, #26D0CE, #1A2980); background: linear-gradient(to right, #26D0CE, #1A2980); border-bottom-left-radius: 700em 100em; border-bottom-right-radius: 700em 100em;'
        )
    } else if (hourNow > 0) {
        console.log('%c Good Morning! ', 'color: #ffeb3b')
        document.getElementById('banner-greetings').setAttribute(
            'style',
            'height: calc(10em + 30vmin); background: #348f50; background: -webkit-linear-gradient(to right, #009688, #56b4d3); background: linear-gradient(to right, #009688, #56b4d3); border-bottom-left-radius: 700em 100em; border-bottom-right-radius: 700em 100em;'
        )
    } else {
        console.log('%c Welcome to My Projects! ', 'color: #009688')
    }
</script>
{% endblock %}