{% extends 'main/header.html' %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/main/contacts.css')}}">

{% include 'main/nav_bar.html' %}

<!-- Banner Map -->
<div id='map'></div>
<h4 class="text-center mt-1 mb-2">Thanks for taking the time to reach out. How can I help you today?</h4>
<div class="m-2">
    <div class="row">
        <div class="col s12 m12 l6">
            <div class="card">
                <div class="p-1 teal text-center">
                    <p class="r-fs-16 font-weight-bold white-text">Get In Touch</p>
                </div>
                <div class="card-content">
                    <div class="m-1 block">
                        <div class="inline-block">
                            <a class="btn-floating btn-large waves-effect waves-light teal">
                                <i class="fas fa-envelope"></i>
                            </a>
                        </div>
                        <div class="inline-block ml-2">
                            <p>root.jarias@gmail.com</p>
                        </div>
                    </div>
                    <div class="m-1 block">
                        <div class="inline-block">
                            <a class="btn-floating btn-large waves-effect waves-light teal">
                                <i class="fas fa-phone-square-alt"></i>
                            </a>
                        </div>
                        <div class="inline-block ml-2">
                            <p>0921-698-0972</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l6">
            <div class="card">
                <div class="p-1 teal text-center">
                    <p class="r-fs-16 font-weight-bold white-text">Have a question? Please enquire below</p>
                </div>
                <div class="card-content">
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="fas fa-user-circle prefix"></i>
                                    <input id="name" type="text" class="validate">
                                    <label for="name">Name</label>
                                </div>
                                <div class="input-field col s12">
                                    <i class="fas fa-envelope prefix"></i>
                                    <input id="email" type="tel" class="validate">
                                    <label for="email">Email</label>
                                </div>
                                <div class="input-field col s12">
                                    <i class="fas fa-comment-alt prefix"></i>
                                    <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                                    <label for="icon_prefix2">Message</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="pos-right">
                        <a class="btn-large m-2" href="#">Submit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'main/footer.html' %}
{% endblock %}

{% block footer %}
<script src="{{ url_for('static', filename='js/main/contacts.js')}}"></script>
{% endblock %}