<link rel="stylesheet" href="{{ url_for('static', filename='css/main/footer.css')}}">

<footer class="page-footer">
    <div class="container text-center">
        <div class="row">
            <div class="col s12 m12 l12">
                <img class="footer-main-logo" src="{{ url_for('static', filename='img/main-logo-animated.svg')}}"
                    alt="dev-back-end">
                <h5>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet."
                </h5>
                <p>Created by John Rafael M. Arias</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2019 John Rafael Mantilla Arias
            <a class="grey-text text-lighten-4 right" href="#!">Created in Python Flask and MaterializeCSS</a>
        </div>
    </div>
</footer>