<title>{{ title }}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Portfolio of John Rafael M. Arias" />
<meta name="keywords" content="Portfolio" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/global.css')}}">
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

<!-- Map Box CDN -->
<link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v2.0.0/turf.min.js' charset='utf-8'></script>
<!-- <link rel='stylesheet' href="{{ url_for('static', filename='css/font-awesome/css/fontawesome.min.css')}}"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/68ea31f05e.js" crossorigin="anonymous"></script>
{% extends "material/base.html" %}