{% extends 'main/header.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main/home.css')}}">

{% include 'main/nav_bar.html' %}
<div class="header-banner parallax-container">
    <div class="parallax pos-relative header-banner-logo">
        <img src=" {{ url_for('static', filename='img/banner-1.jpg')}}" alt="banner-image">
    </div>
    <div class="pos-absolute-center">
        <img class="header-banner-logo" src="{{ url_for('static', filename='img/main-logo-animated.svg')}}"
            alt="main-logo">
        <div class="mt--3">
            <span class="font-weight-bold r-fs-30">Lorem Ipsum</span>
            <span class="block r-fs-22">
                <b>Lorem ipsum dolor sit amet</b> |
                <b>consectetur adipiscing elit</b> |
                <b>Ut tempor lectus</b>
            </span>
            <p class="block r-fs-16">"Nulla non gravida metus. Proin vitae massa nec mauris congue tincidunt."</p>
        </div>
    </div>
</div>
<div class="row show-on-large hide-on-med-and-down">
    <div class="overview-banner parallax-container">
        <div class="parallax pos-relative">
            <img src="{{ url_for('static', filename='img/banner-2.jpg')}}" alt="banner-2">
            <div class="col l7 overview-col">
                <div class="overview-card card">
                    <div class="card-content">
                        <div class="mr-2 ml-2 mb-2 text-justify">
                            <h4 class="text-center">Lorem ipsum</h4>
                            <h5>Lorem ipsum dolor sit amet.</h5>
                            <p class="r-fs-12">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempor lectus et libero
                                tristique pulvinar. Nulla non gravida metus, ut dictum augue. Proin vitae massa nec
                                mauris congue tincidunt. Curabitur ultricies consectetur nisi sit amet elementum.
                                Suspendisse sed nibh tellus. Fusce sagittis turpis et sapien ultrices, sed dictum risus
                                vehicula. Aenean rhoncus ac felis eget aliquet. Maecenas sed tellus odio. In ut purus
                                cursus, ullamcorper nunc in, sagittis metus. Vestibulum tellus arcu, pharetra sit amet
                                scelerisque a, dapibus ac turpis. Donec blandit efficitur dui nec venenatis. Proin
                                ornare felis ut volutpat sollicitudin. Mauris vel vulputate nunc. Integer mollis nunc
                                nec magna auctor ullamcorper. Nullam eget risus felis.
                            </p>
                        </div>
                        <div class="box">
                            <ul id="first-list">
                                <li>
                                    <span></span>
                                    <div class="title">Lorem ipsum dolor sit amet.</div>
                                    <div class="info">
                                        <p><span class="font-weight-bold">Lorem:</span> Lorem ipsum dolor sit amet</p>
                                        <p><span class="font-weight-bold">Lorem:</span> Lorem ipsum dolor sit amet</p>
                                        <p><span class="font-weight-bold">Lorem:</span> Lorem ipsum dolor sit amet</p>
                                        <p><span class="font-weight-bold">Lorem:</span> Lorem ipsum dolor sit amet</p>
                                    </div>
                                    <div class="time">
                                        <span>APRIL 25, 2019</span>
                                    </div>
                                </li>
                                <li>
                                    <span></span>
                                    <div class="title">Lorem ipsum dolor sit amet.</div>
                                    <div class="info">
                                        <p><span class="font-weight-bold">Lorem:</span> Lorem ipsum dolor sit amet
                                        </p>
                                        <p><span class="font-weight-bold">Lorem:</span> Lorem ipsum dolor sit
                                            amet</p>
                                    </div>
                                    <div class="time">
                                        <span>APRIL 2018 – FEBRUARY 2019</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l5"></div>
        </div>
    </div>
</div>
<div class="row show-on-medium-and-down hide-on-large-only">
    <div class="col s12 m6 l6">
        <div class="card">
            <div class="card-content">
                <h4 class="text-center mb-1">Lorem ipsum</h4>
                <div class="parallax-container pos-relative mb-2" style="height: 200px">
                    <div class="parallax">
                        <img src="{{ url_for('static', filename='img/banner-2.jpg')}}" alt="banner-2">
                        <p class="r-fs-16 white-text pos-absolute-center">"Lorem ipsum dolor sit amet."</p>
                    </div>
                </div>
                <p class="r-fs-12">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempor lectus et libero
                    tristique pulvinar. Nulla non gravida metus, ut dictum augue. Proin vitae massa nec
                    mauris congue tincidunt. Curabitur ultricies consectetur nisi sit amet elementum.
                    Suspendisse sed nibh tellus. Fusce sagittis turpis et sapien ultrices, sed dictum risus
                    vehicula. Aenean rhoncus ac felis eget aliquet. Maecenas sed tellus odio. In ut purus
                    cursus, ullamcorper nunc in, sagittis metus. Vestibulum tellus arcu, pharetra sit amet
                    scelerisque a, dapibus ac turpis. Donec blandit efficitur dui nec venenatis. Proin
                    ornare felis ut volutpat sollicitudin. Mauris vel vulputate nunc. Integer mollis nunc
                    nec magna auctor ullamcorper. Nullam eget risus felis.
                    curious, and perpetually working on improving my skills at a time.
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l6">
        <div class="card">
            <div class="card-content">
                <div class="mbl-box">
                    <ul>
                        <li>
                            <span></span>
                            <div class="title">Lorem ipsum dolor sit amet.</div>
                            <div class="info">
                                <p><span class="font-weight-bold">Lorem:</span> Lorem ipsum dolor sit amet</p>
                                <p><span class="font-weight-bold">Lorem:</span> Lorem ipsum dolor sit amet</p>
                                <p><span class="font-weight-bold">Lorem:</span> Lorem ipsum dolor sit amet</p>
                                <p><span class="font-weight-bold">Lorem:</span> Lorem ipsum dolor sit amet</p>
                            </div>
                            <div class="time">
                                <span>APRIL 25, 2019</span>
                            </div>
                        </li>
                        <li>
                            <span></span>
                            <div class="title">Lorem ipsum dolor sit amet.</div>
                            <div class="info">
                                <p><span class="font-weight-bold">Lorem:</span> Lorem ipsum dolor sit amet</p>
                                <p><span class="font-weight-bold">Lorem:</span> Lorem ipsum dolor sit amet</p>
                                <p><span class="font-weight-bold">Lorem:</span> Lorem ipsum dolor sit amet</p>
                                <p><span class="font-weight-bold">Lorem:</span> Lorem ipsum dolor sit amet</p>
                            </div>
                            <div class="time">
                                <span>APRIL 2018 – FEBRUARY 2019</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Role Content -->
<div class="role-header-svg">
    <svg class="role-draw-art" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon class="role-draw-art-sm" fill="white" points="0,0 30,100 65,21 90,100 100,75 100,100 0,100" />
        <polygon class="role-draw-art-lg" fill="white"
            points="0,0 15,100 33,21 45,100 50,75 55,100 72,20 85,100 95,50 100,80 100,100 0,100" />
    </svg>
</div>

<div class="row">
    <div class="col s12 m12 l4">
        <div class="role-card card">
            <div class="card-content">
                <div class="mb-2 pos-center">
                    <img class="role-icon" src="{{ url_for('static', filename='img/dev-back-end.svg')}}"
                        alt="dev-back-end">
                    <h5 class="font-weight-bold">Lorem ipsum dolor sit amet</h5>
                </div>
                <div class="mb-2">
                    <p class="r-fs-14 text-center">
                        "INeque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                        velit...".
                    </p>
                </div>
                <div class="divider-art divider-art-icon">
                    <div class="shadow"></div>
                </div>
                <div class="ml-2">
                    <p class="r-fs-14 font-weight-bold">Neque porro quisquam est qui:</p>
                    <ul class="r-fs-12">
                        <li>• Nunc auctor nec diam sit amet blandit</li>
                        <li>• tempus magna et consequat rhoncus</li>
                        <li>• Aliquam erat volutpat</li>
                        <li>• Proin eu neque diam</li>
                        <li>• Nunc auctor nec diam sit amet blandit</li>
                        <li>• tempus magna et consequat rhoncus</li>
                        <li>• Aliquam erat volutpat</li>
                        <li>• Proin eu neque diam</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l4 mt-5">
        <div class="role-card card">
            <div class="card-content">
                <div class="mb-2 pos-center">
                    <img class="role-icon" src="{{ url_for('static', filename='img/dev-front-end.svg')}}"
                        alt="dev-front-end">
                    <h5 class="font-weight-bold">Lorem ipsum dolor sit amet</h5>
                </div>
                <div class="mb-2">
                    <p class="r-fs-14 text-center">
                        "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                    </p>
                </div>
                <div class="divider-art divider-art-icon">
                    <div class="shadow"></div>
                </div>
                <div class="ml-2">
                    <p class="r-fs-14 font-weight-bold">Neque porro quisquam est qui dolorem ipsum:</p>
                    <ul class="r-fs-12">
                        <li>• Nunc auctor nec diam sit amet blandit</li>
                        <li>• tempus magna et consequat rhoncus</li>
                        <li>• Aliquam erat volutpat</li>
                        <li>• Proin eu neque diam</li>
                        <li>• Nunc auctor nec diam sit amet blandit</li>
                        <li>• tempus magna et consequat rhoncus</li>
                        <li>• Aliquam erat volutpat</li>
                        <li>• Proin eu neque diam</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l4">
        <div class="role-card card">
            <div class="card-content">
                <div class="mb-2 pos-center">
                    <img class="role-icon" src="{{ url_for('static', filename='img/dev-web-design.svg')}}"
                        alt="dev-web-design">
                    <h5 class="font-weight-bold">Lorem ipsum dolor sit amet</h5>
                </div>
                <div class="mb-2">
                    <p class="r-fs-14 text-center">
                        "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                    </p>
                </div>
                <div class="divider-art divider-art-icon">
                    <div class="shadow"></div>
                </div>
                <div class="ml-2">
                    <p class="r-fs-14 font-weight-bold">Neque porro quisquam est qui:</p>
                    <p class="r-fs-12">• Neque, Porro, Quisquam, Est, Qui</p>
                </div>
                <div class="ml-2 mt-2">
                    <p class="r-fs-14 font-weight-bold">Neque porro quisquam est qui:</p>
                    <ul class="r-fs-12">
                        <li>• Nunc auctor nec diam sit amet blandit</li>
                        <li>• tempus magna et consequat rhoncus</li>
                        <li>• Aliquam erat volutpat</li>
                        <li>• Proin eu neque diam</li>
                        <li>• Nunc auctor nec diam sit amet blandit</li>
                        <li>• tempus magna et consequat rhoncus</li>
                        <li>• Aliquam erat volutpat</li>
                        <li>• Proin eu neque diam</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Skills Content -->
<div class="mt--5 divider-art-icon">
    <div class="shadow"></div>
    <div class="icon">
        <img src="https://t1.gstatic.com/images?q=tbn:ANd9GcQsmMfybMIwoE5etmOIAuvnFWdfv_8C1Bq15urJFqwhhI55FyYNP2YuUA" />
    </div>
</div>

{% include 'main/footer.html' %}
{% endblock %}

{% block footer %}
<script src="{{ url_for('static', filename='js/main/home.js')}}"></script>
{% endblock %}