<link rel="stylesheet" href="{{ url_for('static', filename='css/main/nav_bar.css')}}">

<nav>
    <div class="nav-wrapper white">
        <a href="{{ url_for('main.base') }}" class="brand-logo teal-text">Lorem Ipsum</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ url_for('main.base') }}"><i class="fas fa-home teal-text"></i></a></li>
            <li><a href="{{ url_for('main.about_us') }}"><i class="fas fa-user-circle teal-text"></i></a></li>
            <li><a href="{{ url_for('main.contacts') }}"><i class="fas fa-address-card teal-text"></i></a></li>
        </ul>
    </div>
</nav>